@keyframes basket {
  from{
    transform: translateX(-500px);
  }
  to{
    transform: translateX(0);
  }
}



.card-popUp {
  width: 100%;
  /* border: 1px solid red; */
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background: rgba(168, 167, 167, 0.644);
  z-index: 5;
}
.card-popUp > div:first-child {
  position: absolute;
  top: 0;
  right: 0;
  /* border: 1px solid; */
  width: 100%;
  height: 100%;
  /* background: yellow; */
  z-index: 6;
}
#pre_order .card {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  width: 500px;
  height: 100%;
  float: left;
  background: white;
  transform: translateX(-500px);
  transform-origin: left;
  animation: basket .4s linear forwards;
}
#pre_order .card > img:first-child {
  width: 20px;
  float: left;
  margin: 15px;
  cursor: pointer;
}
#pre_order .card-items {
  width: 88%;
  height: calc(100% - 50px);
  margin-right: 6%;
  margin-top: 50px;
  overflow-y: scroll;


}
#pre_order .card-items::-webkit-scrollbar {
  width: 1px;
}
#pre_order .card-items>div{
    width: 100%;
    height: auto;
    padding-right: 10px;
    /* overflow-y: scroll; */
}
#pre_order .card-items .items {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}

#pre_order .card-items .items >a {
  display: block;
  width: 100px;
  height: 80px;
  border: 1px solid rgb(201, 201, 201);
  /* object-fit: cover; */
  margin-top: 5px;
  float: right;
  border-radius: 3px
}
#pre_order .card-items .items >a >img {
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  object-fit:contain;
  /* margin-top: 5px; */
}
#pre_order .card-items .item-info {
  width: 250px;
  height: 100%;
  /* border: 1px solid red; */
  padding: 10px 0;
  float: left;
}

#pre_order .card-items .item-info > p:nth-of-type(1) {
  width: 100%;
  float: right;
}
#pre_order .card-items .item-info > p:nth-of-type(1)>a , .card-items .item-info > p:nth-of-type(1)>a:visited{
  color: black;
}
#pre_order .card-items .item-info > p:nth-of-type(2) {
  width: 50%;
  float: right;
  margin-top: 10px;
}
/* .card-items .item-info >span:first-child{
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  float: left;
} */
/* .card-items .item-info >span:first-child .lds-spinner{
  margin-right: none !important;
}
.card-items .item-info >span:first-child .lds-spinner div{
  transform-origin: 30px 13px !important;
}
.card-items .item-info >span:first-child .lds-spinner div:after{
  
    width: 2px !important;
    height: 4px !important;
   
} */
#pre_order .card-items .item-info > span:last-child {
  display: block;
  width: 70px;
  height: 20px;
  border: 1px solid rgb(179, 179, 179);
  float: left;
  margin-top: 20px;
  position: relative !important;
  border-radius: 5px;
  overflow: hidden;
}
#pre_order .card-items .item-info > span:last-child button {
  width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    background: transparent;
    /* border: 1px solid black */
    outline: none;
    cursor: pointer;
}

#pre_order .card-items .item-info > span:last-child button:first-child {
  right: 0;
    border-left: 1px solid rgb(179, 179, 179);
}
#pre_order .card-items .item-info > span:last-child button:last-child {
  left: 0;
  border-right: 1px solid rgb(179, 179, 179);
}
#pre_order .card-items .item-info > span:last-child button > img {
  width: 8px;
    height: 100%;
    object-fit: cover;
}
#pre_order .card-items .item-info > span:last-child > span {
  display: block;
  width: 30px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  /* border: 1px solid red; */
}

#pre_order .card-items .total-price {
  width: 100%;
  height: 100px;
  border-top: 2px solid rgb(172, 172, 172);
  margin-top: 30px;
  line-height: 100px;
  color: grey;
  
}
#pre_order .card-items .total-price>p:first-child{
    float: right;
}
#pre_order .card-items .total-price>p:last-child{
    float: left;
}
#pre_order .card-items .submit-order{
   display: block;
    width: 60%;
    height: 55px;
    background: #1f2c32;
    border-radius: 5px;
    margin-right: 20%;
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;
}
#pre_order .card-items .submit-order>a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 55px;
    color: white;
    font-size: 15px;
    /* margin-right: 16px; */
}
.noProduct{
  margin: 100px auto;
  text-align: center;
  color: grey;
}