#detail {
  /* border: 1px solid red; */
  width: 80%;
  margin-right: 10%;
  min-height: 400px;
  height: auto;
  margin-top: 60px;
}

#detail .logo {
  width: 350px;
  height: 130px;
  /* border: 1px solid red; */
  float: right;
  line-height: 100px;
}
#detail .logo > a {
  width: 100%;
  height: 100%;
  color: black;
}
#detail .logo > a > img {
  width: 190px;
  float: right;
  margin-top: 20px;
  cursor: pointer;
}
#detail .logo > a > p {
  float: right;
}
.breadcrumb {
  width: auto;
  height: 100px;
  /* border: 1px solid red; */
  float: right;
  padding-right: 35px;
}
.breadcrumb > li {
  float: right;
  margin: 0 10px;
  font-size: 14px;
  color: grey;
  width: auto;
  height: 100%;
  /* border: 1px solid red; */
  line-height: 100px;
  position: relative;
}

.breadcrumb > li > img {
  height: 15px;
  transform: rotate(180deg);
  position: absolute;
  top: 42%;
  left: -15px;
}
.breadcrumb > li:last-of-type > img {
  display: none;
}
.breadcrumb a {
  color: grey;
}
.breadcrumb > li:last-of-type > a {
  color: black;
}
.detailSummery {
  width: 100%;
  height: 500px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-bottom: 50px;
  /* border: 1px solid yellow */
}
.detailSummery .itemPic {
  width: 350px;
  /* border: 1px solid red; */
}
.detailSummeryContent {
  width: calc(100% - 350px);
  /* border: 1px solid red; */
  padding: 30px 35px 40px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: column nowrap;
}
.detailSummeryContent > h2 {
  float: right;
  font-size: 22px;
}
.detailSummeryContent > .rate {
  float: left;
}
.detailSummeryContent > .rate > img {
  width: 17px;
  float: right;
  margin: 0 2px;
  margin-top: 7px;
}
.detailSummeryContent > .rate > sup {
  font-size: 12px;
  float: right;
  color: grey;
}
.detailSummeryContent > .product-price{
  width: 100%;
  min-height: 100px;
  /* border: 1px solid red; */
  margin-top: 23px;
}
.detailSummeryContent > .product-price> h4{
  color: rgba(255, 0, 0, 0.651);
  margin: 20px 10px 30px;
}
.detailSummeryContent > .product-price > p:first-of-type{
  font-size: 18px;
}
.detailSummeryContent > .product-price > p:last-of-type {
  font-size: 14px;
  color: grey;
  text-align: justify;
}
.detialGeneral {
  width: 100%;
  min-height: 200px;
  height: auto;
  /* border: 1px solid red; */
  margin-top: 50px;
}
.detialGeneral > ul {
  width: 100%;
  height: 70px;
  /* border: 1px solid red; */
}
.detialGeneral > ul > li {
  width: auto;
  height: 100%;
  float: right;
  line-height: 70px;
  font-size: 20px;
  margin-left: 30px;
}
.detialGeneral > ul > li > a {
  color: black;
}
.react-tabs{
  margin-top: 100px;
}
.react-tabs table {
  width: 100%;
  border: 1px solid rgb(184, 184, 184);
  border-collapse: collapse;
}
.react-tabs table > tbody {
  width: 100%;
}
.react-tabs table td {
  width: auto;
  border-bottom: 1px solid rgb(184, 184, 184);
}
.react-tabs table td:nth-of-type(even) {
  border-right: 1px solid rgb(184, 184, 184);
  width: 80%;
  padding: 10px 20px;
}
.react-tabs table td:nth-of-type(odd) {
  width: 20%;
  text-align: center;
}
.react-tabs table tr:nth-of-type(even) {
  background: rgb(184, 184, 184);
}
.react-tabs table tr {
  min-height: 40px;
}
.basket-btn {
  display: block;
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 3px;
  background: #1f2c32;
  color: white;
  font-size: 16px;
  line-height: 50px;
  margin: 35px 0 30px;
  cursor: pointer;
  font-family: 'iranyekan';
}
.basket-btn img {
  width: 22px;
  margin-left: 5px;
}
.comment-rate {
  width: 100%;
  min-height: 100px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 19px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;

}
.comment-rate >div> div:nth-of-type(1) {
  width: auto;
  height: 70px;
  /* border: 1px solid red; */
  float: right;
  font-size: 50px;
    text-align: center;
    line-height: 60px;
    margin-left: 5px;
}
.comment-rate  .submitComment{
    display: block;
    width: 200px;
    height: 50px;
    background: #1F2C32;
    /* border: 1px solid red; */
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    color: white;
    cursor: pointer;
    margin-top: 6px;
}
.commnet-star {
  width: 200px;
  height: 50px;
  /* border: 1px solid red; */
  float: right;
}
.commnet-star>div>p:nth-of-type(1){
  float: right;
  margin-left: 3px;
}
.commnet-star>p:nth-of-type(2){
  /* margin-left: 3px; */
}
.commnet-star>div>span:first-child{
font-size: 15px;
color: grey;
}
.commnet-star >div> img {
  width: 15px;
  margin-left: 2px;
}
.comment-box {
  width: 100%;
  min-height: 60px;
  /* border: 1px solid red; */
  padding: 10px 0;
  /* border-top:1px solid black; */
  border-bottom: 1px solid #000;
  margin: 20px 0;
}

.comment-box > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid grey;
  float: right;
  margin-top: 10px;
}
.comment-box > div {
  width: calc(100% - 70px);
  height: auto;
  margin-right: 70px;
  font-size: 14px;
}
.comment-box > div > p {
  color: gray;
  margin-bottom: 10px;
}
.comment-box > div > p > span:nth-of-type(2) {
  float: left;
}
.related {
  width: 100%;
  height: 420px;
  /* border: 1px solid red; */
  margin-top: 60px;
  position: relative;
  /* overflow: hidden; */
 
}
.related>div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.related >div>p:first-child{
  text-align: center;
  font-size: 24px;
  height: 70px;
  
}
.related  .carousel{
  height: calc(100% - 70px);
  /* border: 1px solid black; */
 
}
.related  .carousel>div{
  height: 100%;
  /* border: 1px solid red; */
  /* display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row nowrap; */

}
.related  .carousel>div>div>div{
  width: 90%; 
  height: 100%;
  margin-right: 5%;
  /* border: 1px solid green; */
  
  
}
.carousel-items-wrapper{
  width: 25%;
  height: 100%;
  float: right;
  /* border: 1px solid red; */
  transition: .4s;
}

.related  .carousel>div>div>div>figure{
  width: 100%;
  height: 75%;
  /* background: grey; */
  position: relative;
  overflow: hidden;
  /* border-radius: 5px; */
  
  
}
.related  .carousel>div>div>div>figure>a{
display: block;
  width: 100%;
height: 100%;
position: absolute;
top: 0;
right: 0;
}
.related  .carousel>div>div>div>figure>a>img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.related  .carousel>div>div>div>figure>figcaption{
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;right: 0;
  background:rgba(128, 128, 128, 0.548); 
 line-height: 40px;
  text-align: center;
  color: white;
  font-size: 14px;
  transform-origin: bottom;
  transform: translateY(40px);
  transition: .4s;
}
.related  .carousel>div>div>div>figure:hover>figcaption{
  transform: translateY(0);
}

.carousel  .carouselArrow{
  position: absolute;
  width: 15px;
  top: 50%;
  cursor: pointer;
}
.carousel  .carouselArrow:first-child{
  right: -40px;
}
.carousel .carouselArrow:last-child{
  left: -40px;
  transform: rotate(180deg);
}
.related-Rate>img{
  width: 15px;
  margin-left: 2px;
}

.pagination{
  width: auto;
  position: absolute;
  height: 40px;
  /* border: 1px solid black; */
  margin-top: 30px;
  float: right;
  bottom: -70px;
}
.pagination>div{
  width: 45px;
  font-size: 12px;
  float: left;
  line-height: 40px;
  border: 1px solid rgb(175, 175, 175);
  margin-left: 10px;
  text-align: center;
  color: grey
}
.add-favourite{
  width: 25px;
  margin-top: 20px;
  cursor: pointer;
}

.add-favourite-wrapper{
  width: 25px !important;
  height: 30px !important;
  /* margin-top: 50px ; */
}

.product-options{
  /* border: 1px solid red; */
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 30px;
}
.choice_input{
  display: none;
}
.choice_input:checked + label{
  border: 1px solid blue
}
.choice_label{
  display: block;
  width: 82px;
  height: 27px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 3px;
  float: right;
  margin: 0 10px 10px;
  font-size: 12px;
  padding: 0 3px;
  line-height: 27px;
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: space-between; */
  cursor: pointer;
  transition: .4s;
}
.choice_label>span{
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* border: 1px solid black; */
  margin:1.5px 4px 0 8px 
}
.product-options>p{
  font-size: 14px;
  float: right;
  margin-left: 10px;
}