
.banner {
  width: 100%;
  height: 80%;
  /* background: grey; */
  /* border: 1px solid rgb(197, 197, 197); */
}
.banner >div:first-child{
  width: 100% !important;
  height: 100% !important;
  cursor: zoom-in !important;

}
.banner > img {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
  outline: none;
}
.banner >div:first-child> img {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
  outline: none;
}

.banner>div>div:last-child{
  left: -110% !important;
  z-index: 1;
  direction: ltr;
  /* margin-right: 50px !important; */
}

.slider-carousel {
  width: 100%;
  height: 15%;
  /* border: 1px solid red; */
  position: relative;
  margin-top: 10px;
}
.slider-carousel>div{
  height: 100%;
  width: calc(100% - 40px);
  /* border: 1px solid black; */
  margin-right: 20px;
  overflow: hidden;
}
.slider-carousel>div>div{
  /* min-width: 310px; */
  /* width: auto; */
  /* background: grey; */
  width: 500px;
  height: 100%;
  overflow: hidden;
  /* display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row nowrap; */
  
}
.slider-carousel .carouselArrow{
  width: 10px;
  position: absolute;
  top: calc(50% - 7px);
  cursor: pointer;
}
.slider-carousel .carouselArrow:first-child{
  right: 0;
}
.slider-carousel .carouselArrow:last-child{
  left: 0;
  transform: rotate(180deg)
}
.slider-carousel>div>div>figure{
  width: 62px;
  height: 100%;
  float: right;
  /* border: 1px solid black; */
  position: relative;
  cursor: pointer;
  transition: .4s;
  
}
.slider-carousel>div>div>figure>img{
  width: 90%;
  height: 100%;
  margin-right: 5%;
  object-fit: fill;
  height: 100%;
  border: 1px solid rgba(216, 216, 216, 0.658);
  border-radius: 5px;
}
.slider-carousel>div>div>figure>figcaption{
  display: block;
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 5%;
  /* margin-right: 5%; */
  background: rgba(196, 196, 196, 0.37);
  border-radius: 5px;
  opacity: 0;
  transition: .4s;
}
.slider-carousel>div>div>figure:hover>figcaption{
  opacity: 1;
}

.ril__inner>img{
  width: 70%;
  margin-right: calc(50% - 35%);
}
/* .lightBox{
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  top: 0;
  right: 0;
  z-index: 10;
}

.lightBox>img{
  width: 55%;
  margin-right: 21.5%;
  margin-top: 50px;
}
.lightBox .close_banner{
  width: 15px;
  position: absolute;
  top: 20px;
  right: -10%;
  cursor: pointer;
} */