@keyframes list {
    to{
        height: calc(100vh - 50px);
        opacity: 1;
    }
}

header{
    width: 100%;
    height: 100px;
    /* border: 1px solid red; */
}

header .userTool{
    width: 100%;
    height: 50%;
    /* border: 1px solid yellow; */
    border-bottom: 1px solid black;
}

header .userTool>li{
    width: auto;
    height: 100%;
    cursor: pointer;
    /* border: 1px solid red */
}

header .userTool>li:first-child{
    float: right;
}
header .userTool>li:first-child .searchForm{
    width: auto;
    height: 100%;
}
header .userTool>li img{
    height: 25px;
    margin-top: 10px;
    cursor: pointer;
}
header .userTool>li:nth-of-type(2)>input{

    display: none;
}
header .searchForm>input{

    height:70%;
    width: 200px;
    float: left;
    margin:5px 9px;
    border: none;
    font-size: 14px;
    outline: none;
}
header .userTool>li:nth-of-type(4){
    float: left;
    width: auto;
    height: 100%;
    text-align: center;
    margin-left: 5px;
    font-size: 14px;
    /* border: 1px solid red */
}
header .userTool>li:nth-of-type(4) a{
    line-height: 50px;
   margin: 0 5px;
   color: grey
}
header .userTool>li:nth-of-type(4)>div{
    height: 100%;
    line-height: 50px;
}
header .userTool>li:nth-of-type(2), header .userTool>li:nth-of-type(3){
    float: left;
    width: auto;
    height: 100%;
    margin-right: 15px;
    position: relative;
}
header .userTool>li:nth-of-type(3)::after{
    content: '';
    display: block;
    width: 1px;
    height: 30px;
    background: grey;
    position: absolute;
    right: -13px;
    top: 9px;

}
.categoryList{
    width: 100%;
    height: 50%;
    /* border: 1px solid red */
}

.categoryList>li{
    width: auto;
    height: 100%;
    line-height: 50px;
    float: right;
    margin-left: 25px;
    position: relative;
    cursor: pointer;
    font-size: 14px;
}
.categoryList>li a{
    color: black;
}
.categoryList>li::after{

    content: '';
    display: block;
    width: 1px;
    height: 20px;
    background: grey;
    position: absolute;
    top: 15px;
    left: -10px;
}
.categoryList>li:last-child::after{
    display: none;
}
.categoryList>li::before{
   content: '';
   display: block;
    width: 100%;
    height: 1px;
    background: black;
    position: absolute;
    bottom: 5px;
    right: 0;
    transform-origin: center;
    transform: scaleX(0); 
    transition: .4s;
}
.categoryList>li:hover::before{
    transform: scaleX(1)
}
.searchList{
    min-width: 200px;
    height: auto;
    /* border: 1px solid red; */
    /* margin-top: 10px; */
    background: rgb(187, 187, 187);
    position: absolute;
    right: 2.5%;
    top: 50px;
    z-index: 2;
}
.searchList>li{
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px;
    border-bottom: 1px solid rgb(99, 98, 98);
    transition: .4s;
}
.searchList>li:hover{
    background:  rgb(228, 227, 227);
}
.searchList>li>a{
    font-size: 14px;
    color: black
}

.popUps{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(128, 128, 128, 0.664);
    z-index: 4;
}
.popUps>img:nth-of-type(1){
    width: 18px;
    position: absolute;
    top: 160px;
    right: calc(50% - 194px);
    cursor: pointer;
}
.login-box{
    width: 400px;
    min-height: 300px;
    margin: 70px auto;
    background: white;
    padding: 10px 0;
    border-radius: 5px
}
.login-box>p:nth-of-type(1){
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid rgb(201, 201, 201);
}
.login-box>form{
    width: 100%;
    min-height: 200px;
    border-bottom: 1px solid #000;
    padding: 10px 10px 0;
}
.login-box>form>label{
   display: block;
}
.login-box>form>input{
width: 100%;
height: 35px;
outline: none;
border: 1px solid rgb(182, 181, 181);
border-radius: 5px;
margin: 10px 0 5px;
font-size: 15px;
direction: ltr;
padding: 0 8px
}
.login-box>form>input::placeholder{
    direction: rtl;
}
.login-box>form>a{
    float: left;
    font-size: 12px;
    color: #1F2C32;
    display: block;
    width: 100%;
    direction: ltr;
}
.login-box>form>button:nth-of-type(1){
    width: 80%;
    height: 40px;
    border: none;
    background: #1F2C32;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin: 10px calc(50% - 40%) 20px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'iranyekan'
}
.login-box>form>span{
    display: block;
    width: 100%;
    height: auto;
    color: red;
    font-size: 12px;
    padding: 0 10px;
    margin-bottom: 10px;
    margin-top: 50px;
    text-align: center;

}
.login-box>div:nth-of-type(1){
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
}
.login-box>div:nth-of-type(1)>a{
    color: blue;
    /* border-bottom: 1px solid blue; */
}
.login-box a:visited,.login-box a{
    color: blue;
}
.login-box>div:nth-of-type(1)>p>a{
    font-size: 14px;
}
.login-box .lds-spinner{
    margin-right: calc(50% - 32px);
    margin-bottom: 20px;
}
/* responsive category list */

.cat_hamMenu{
    display: block;
    width: 25px;
    height: 13px;
    margin-top: 20px;
    cursor: pointer;

}

.cat_hamMenu>input{
    display: none;
}
.cat_hamMenu>input:checked + label{
transform: rotate(-45deg)
}
.cat_hamMenu>input:checked + label>span{
    right: 10px;
}
.cat_hamMenu>label{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    transition: .4s;
    z-index: 5;
}
.cat_hamMenu>label:hover::after{
bottom: -2px;
}
.cat_hamMenu>label:hover::before{
    top: -2px;
}
.cat_hamMenu>label::after ,.cat_hamMenu>label::before{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: black;
    position: absolute;
    right: 0;
    transition: .3s;

}
.cat_hamMenu>label::after{
    bottom: 0;
}
.cat_hamMenu>label::before{
    top: 0;
}
.cat_hamMenu>label>span{
    display: block;
    width: 100%;
    height: 1px;
    border-radius: 5px;
    background: black;
    position: absolute;
    top: 5.5px;
    right: 0;
    transition: .4s;
}
.cat_hamMenu_list{
    width: 100%;
    height: calc(100vh - 50px) ;
    position: fixed;
    top: 50px;
    right: 0;
    background: rgb(202, 202, 202);
    z-index: 4;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
    border-top: 1px solid #000;
    /* opacity: 0; */
    /* animation: list 1s linear forwards; */
}
.cat_hamMenu_list>li{
    margin: 10px 0;
position: relative;
}
.cat_hamMenu_list>li>a , .cat_hamMenu_list>li>a:visited{
    color: #000
}
.cat_hamMenu_list>li::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: black;
    transform-origin: center;
    transform: scaleX(0);
    transition: .4s;

}
.cat_hamMenu_list>li:hover::after{
    transform: scaleX(1)
}
.panel_wraper{
    width: 30px;
    height: 100%;
    /* border: 1px solid red; */
    position: relative;
}
.userPanel{
    width: 100px;
    height: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    /* border: 1px solid rgb(177, 176, 176); */
    position: relative;
    left: 35px;
    z-index: 6;
    background: rgb(202, 202, 202);
    border-radius: 5px;
}
.userPanel a{
    color: #000 !important;
}
.userPanel::before{
content: '';
display: block;
clip-path: polygon(50% 100% , 100% 0 , 0 0);
width: 20px;
height: 15px;
position: absolute;
top: -15px;
right: calc(50% - 10px);
background: rgb(202, 202, 202);
transform: rotate(180deg)
}