@media screen and (min-width:1025px){
    .itemBox{
        margin-left: 54px;
    } 
    .related .carousel>div>div>div{
        width: 65%;
        margin-right: 17%;
    }
    
}

@media screen and (max-width:1024px){
    .itemBox{
        width: 190px;
        margin-left: 14px;
    } 
    .related .carousel>div>div>div{
        width: 80%;
        margin-right: 10%;
    }
}