.signInForm:nth-of-type(1){
    text-align: center;
    margin-top: 40px;
    border-bottom: 1px solid rgb(173, 173, 173);
    width: 400px;
    margin-right: calc(50% - 200px);
    padding-bottom: 10px
}
.signUpForm{
    width: 400px;
    min-height: 200px;
    /* border: 1px solid red; */
    margin: 20px auto;
  
}
.signUpForm>label{
    display: block;
    width: auto;
    font-size: 15px;
    margin-top: 15px;
}
.signUpForm>input{
    width: 100%;
    height: 35px;
    border: 1px solid rgb(172, 169, 169);
    border-radius: 5px;
    padding: 0 10px;
    outline: none;
    font-size: 14px;
}
.signUpForm>button{
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: white;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    background: #1F2C32;
    border-radius: 5px;
    margin: 20px 0 10px
}
.signUpForm>button:disabled{
    background: rgb(59, 80, 90);
    cursor: not-allowed;

}
.signUpForm>.signUpError{
    width: auto;
    /* max-height: 20px; */
    color: darkred;
    font-size: 12px;
 
}
.signInForm:nth-of-type(2){
    text-align: center;
    font-size: 14px;
    margin: 5px 0
}
.signInForm:nth-of-type(2)>a,.signInForm:nth-of-type(2)>a:visited{
    color: blue;
    border-bottom: 1px solid blue;
}
.linkForm{
    text-align: center;
}
.linkForm a:visited,.linkForm a{
    color: blue
}
.linkForm>p>a{
    
    font-size: 13px;
    margin-top: 20px;
}