*, *::after, *::before{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face{
  font-family :'iranyekan';
    src:
     /* url('./fonts/iranyekanwebbold.eot') format('eot'),  
     url('./fonts/iranyekanwebbold.woff') format('woff'),
     url('./fonts/iranyekanwebbold.ttf') format('truetype'), */
     /* url('./fonts/iranyekanweblight.eot') format('eot'),  
     url('./fonts/iranyekanweblight.woff') format('woff'),
     url('./fonts/iranyekanweblight.ttf') format('truetype'), */
     url('./fonts/iranyekanwebregular.eot') format('eot'),  
     url('./fonts/iranyekanwebregular.woff') format('woff'),
     url('./fonts/iranyekanwebregular.ttf') format('truetype');
font-style:normal;
font-weight:normal;
/* font-style:bold;
font-weight:bold;
font-style:lighter;
font-weight:lighter;  */
  
}
body{
  font-size: 100%;
  direction: rtl;
  font-family :'iranyekan';
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
}


@font-face{
  /* font-family :'iranyekan';
  src: local('iranyekan') url('font/iranyekanwebbold\(fanum\).eot') format('eot'),  
          url('font/iranyekanwebbold\(fanum\).woff') format('woff'),
          url('font/iranyekanwebbold\(fanum\).ttf') format('truetype'),
          url('font/iranyekanweblight\(fanum\).eot') format('eot'),  
          url('font/iranyekanweblight\(fanum\).woff') format('woff'),
          url('font/iranyekanweblight\(fanum\).ttf') format('truetype'),
          url('font/iranyekanwebregular\(fanum\).eot') format('eot'),  
          url('font/iranyekanwebregular\(fanum\).woff') format('woff'),
          url('font/iranyekanwebregular\(fanum\).ttf') format('truetype');
    font-style:normal;
    font-style:bold;
    /* font-style:light; */
    /* font-weight:normal; */
    /* font-weight:bold; */
    /* font-weight:light; */
  
    
        } 
